.divtitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  color: aqua;
  position: relative;
}

.titulo h2 {
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.75);
}
