.divtitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  color: aqua;
  position: relative;
}

.titulo h2 {
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.75);
}

.barra {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sectionImg {
  background-color: goldenrod;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.sectionImg img {
  width: 65px;
}
